<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<!--
  Simplification Tumblr Theme v1.1
  by Bill Israel [http://cubicle17.com/]
-->
<head>
    <title>Kiev ALT.NET @ViewBag.Title</title>	
	<meta name="Language" content="Ukrainian">
	<meta name="Author" content="Mike Chaliy" />
	<meta name="Description" content="Cайт київської ALT.NET. Альтернативна .NET комуніті."> 
    <meta name="Geography" content="Kyiv, Ukraine" />
    <meta name="City" content="Kyiv" />
    <meta name="Country" content="Ukraine" />
    <meta property="og:image" content="http://kievalt.net/images/kyiv-logo.png"/>
    <meta property="og:country-name" content="Ukraine"/>
    <meta property="og:phone_number" content="+380971918198"/>
    <meta property="og:email" content="support@kievalt.net"/>        
    <link rel="shortcut icon" href="favicon.ico"/>
	<link rel="alternate" type="application/rss+xml" name="RSS" href="http://feeds.feedburner.com/kievaltnet"/>
	<link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17528429-1']);
    _gaq.push(['_setDomainName', '.kievalt.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</head>
 
<body>

	<div id="container">
	
	<div id="header">
      <ul id="navigation">
        <li><a href="http://blog.kievalt.net">Blog</a></li>
        <li><a href="http://feeds.feedburner.com/kievaltnet">RSS</a></li>
      </ul>
      
      <h1>Kiev ALT.NET</h1>
    </div>
	
    @RenderBody()
 
	<div id="footer">       	
		<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
			<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />
			This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://chaliy.name" property="cc:attributionName" rel="cc:attributionURL">Mike Chaliy</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.

        <p>
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=147398082002924&amp;href=http%3A%2F%2Fkievalt.net&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
        </p>
    </div>	
</body>
</html>