@{
    ViewBag.Title = "Доповідачі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="speakers">
    <li>
        <a href="http://uneta.ua/speakers/11"><img src="/content/images/speakerswb/kostylev.jpg" alt="Дмитрий  Костылев" title="Дмитрий  Костылев" /></a>
        <span class="container">
            <a href="http://uneta.ua/speakers/11"><span class="name">Дмитрий  Костылев</span></a>
            <span class="educ">Дмитрий Костылев начинал IT карьеру, как системный администратор. С 1994 года занимается разработкой баз данных, с 2000 года - на Microsoft SQL Server. Разрабатывал и принимал участие в проектах в производстве, медицине, финансах. С 2009 года гордо носит звание Microsoft MVP по направлению SQL Server. Ведет блог (http://www.sql.ru/blogs/decolores), посвященный разработке и сопровождению баз данных. Активный докладчик по тематике SQL Server.</span>
            <span></span>
                    
                <span class="objectives">
                    <span class="title">ОПТИМИЗАЦИЯ ЗАПРОСОВ В SQL SERVER</span>
                    <span class="textbox">От слов – к делу: обзор способов оптимизации, примеры оптимизации конкретных запросов, техника написания &#171;быстрых&#187; запросов.</span>
                    <a href="http://uneta.ua/sessions/16"><span class="readmore">читать далее</span></a>
                </span>
                <a href="/speakers/11">
                    <img src="../../content/images/question_icon_small.png" title="Задайть вопрос эксперту" style="float:left; margin-top:15px" /> <h2 style="float:left; margin-top:20px; margin-left:25px">Задать вопрос докладчику</h2>
                </a>
        </span>
    </li>
</ul>
