@{
    ViewBag.Title = "Календар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

	<iframe frameborder="0" src="http://cid-a42322b3a55b106b.calendar.live.com/calendar/Kiev+ALT.NET/index.html?Embedded=true&mkt=uk-ua&rru=month" width="960" height="600"></iframe>

	<ul class="breadcrumb">
		<li><a href="http://cid-a42322b3a55b106b.calendar.live.com/calendar/Kiev+ALT.NET/calendar.ics" rel="alternate" class="ics" >ICS of the calendar</a> <span class="divider">|</span></li>
		<li><a href="http://www.google.com/support/calendar/bin/answer.py?hl=en&answer=37100">Як додати в Google Calendar</a> <span class="divider">|</span></li>			
		<li><a href="https://www.google.com/calendar/render?cid=c3VwcG9ydEBraWV2YWx0Lm5ldA">Додати в Google Calendar(експеримент)</a></li>						
	</ul>
	    
</div>