* {
	margin: 0;
	padding: 0;
}
body{
	background: #fff url(../images/header-background.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	line-height: 1.5em;
	color: #333;
	margin: 0 auto;
	width: 780px;
}
a {
	text-decoration: none;
	color: #039;
}
a:hover
{
	text-decoration: underline;
	color: #111;
}
a.twitter{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('../images/services/twitter.png');
	background-repeat: no-repeat;
}
a.skype{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('../images/services/skype.png');
	background-repeat: no-repeat;
}
a.linkedin{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('../images/services/linkedin.png');
	background-repeat: no-repeat;
}
a.rss{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url('../images/services/rss.png');
	background-repeat: no-repeat;
}
label {
	display:block;	
}
p {
	margin-top:15px;
}
ol{
	margin-top:15px;
	padding-left: 30px;
}
ul{
	margin-top:15px;
	padding-left: 30px;
}
dt{	
	padding-top:10px;
}
dd{
	padding-left: 30px;
	padding-bottom: 5px;	
}
em.info {
	font-size: .7em;
}
h1{	
	margin-top: 25px;
	padding: 4px;
	font-size: 1.6em;
	font-weight:bold;	
}
h2{	
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.4em;
	font-weight:bold;	
}
h3{	
	padding: 4px;
	font-size: 1.2em;
	font-weight:bold;	
}
h4 {
	margin-top:15px;
}
img.left{
	float: left;
}
img.right{
	float: right;
}
#menu
{
	height: 40px;
}
#menu ul
{
	margin-top: 0px;
	list-style-type: none;
	padding-top: 15px;
}
#menu ul li
{
	display: block;
	float: left;
}
#menu ul li a
{
	color: black;
	padding: 0 20px 0 0;
	font-weight: 100;
	font-size: 14px;
}
#menu ul li a:hover
{
	color: #111;
}

#header p
{
	margin-top: 0px;
	height: 55px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	width: 500px;	
}
#header .rss {
	background-image: url("/images/rss.png");
	text-indent: -20000px;
	display: block;
	width: 48px;
	height: 48px;
	position: relative;
	top: -70px;
	left: 700px;
}
#header {
	height: 50px;
}
#footer
{
	margin-top: 20px;
	border-top: 1px solid #AEAEAE;
	background: #ececec;
	padding: 10px 0;
	text-align: center;
}
.entry
{
	padding-left: 15px;
	padding-right: 15px;
}
.entry p
{
	padding: 5px;
	text-indent: 15px;
}
.entry .entry-info
{
	margin: 15px;
	color: #777;
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
	font-size: smaller;	
}
.entry img{
	float: right;
	margin: 10px;
	border:solid 1px #DEDEDE;
	padding:3px;
}

.entry blockquote {
	margin: 20px;
	border:solid 1px #DEDEDE; 
	background:#EFEFEF;
	color:#222222;
	padding:4px;
}

.entry .author-note {
	margin: 20px;
	border:solid 1px #ddd;	
	color:#222222;
	padding:4px;
	font-style:italic;
}
.entry td{
 	text-align:left;	
}
.entry table th{		
	border: 1px solid #ddd;	
	text-align: left;
	padding: 6px 12px 6px 12px;
	background-color: #f8f8f8;
}

.entry table td{		
	border: 1px solid #ddd;
	padding: 6px 12px 6px 12px;
}

.entry pre code {
	background-color: #f8f8f8;
	border: #ddd 1px solid;
	display: block;
	padding: 10px;
}
.clear {
	clear:both;
}
.unimportanant-info {
	color: silver;
	font-size: .8em;
}
