<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.1" targetFramework="net40" />
  <package id="jQuery" version="1.9.0" targetFramework="net40" />
  <package id="MarkdownSharp" version="1.13.0.0" />
  <package id="microsoft-web-helpers" version="1.15" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net40" />
  <package id="YamlSerializer" version="1.0" />
</packages>